# Ignore original course notebooks
notebooks/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
myenv/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Package build metadata
*.egg-info/
dist/
build/

# Test/cache files
.pytest_cache/

# Plots
tests/plots/
